<!doctype html>
<html lang="ko">

<head>

    <meta property="og:title" content="어디서 뭐하지?"/>
    <meta property="og:description" content="원하는 장소와 카테고리로 약속 장소 정하기!"/>
    <meta property="og:image" content="/static/og_image.jpg"/>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Noto+Sans+KR&display=swap"
          rel="stylesheet">


    <title>어디서 뭐하지?</title>

    <style>
        * {
            font-family: 'Dongle', sans-serif;
            font-family: 'Noto Sans KR', sans-serif;
        }

        #searchPlace {
            display: inline-block;
            width: 400px;
            height: 40px;
            border: 1px solid;
        }

        #searchCategory {
            width: 400px;
            height: 40px;
            border: 1px solid;
        }

        #searchButton {
            background-color: black;
            color: white;
            height: 40px;
            width: 80px;
        }

        #search {
            display: flex;
            justify-content: center;
            background-color: lightgray;
            height: 500px;
            padding-top: 200px;
            background-image: url("../static/background.jpg");

        }

        #title {
            font-family: 'Dongle', sans-serif;
            margin-bottom: 0px;
            padding: 15px;
        }

        #menuBar {
            background-color: black;
            color: ghostwhite;
        }

        .card2 {
            display: inline-block;
            width: 290px;
            height: 290px;
            border: 1px solid lightgray;
        }

        .container {
            display: flex;
            margin: 0px;
        }

        #recommend {
            padding: 10px;
        }

        .boldText {
            font-weight: bold;
        }

    </style>

    <script>
        $(document).ready(function () {
            showRecommend();
        });

        function showRecommend() {
            $('#recommend-box').empty();
            $.ajax({
                type: 'GET',
                url: '/api/recommend',
                data: {},
                success: function (response) {
                    if (response['result'] === 'success') {
                        const recommend_list = response['recommend_list'];
                        for (let i = 0; i < recommend_list.length; i++) {
                            const place = recommend_list[i];
                            const tempHtml = `<div class="card2">
                                                    <div class="card-body">
                                                        <h5 class="card-title">${place['title']}</h5>
                                                        <p class="card-text">${place['category']}</p>
                                                    </div>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">${place['roadAddress']}</li>
                                                    </ul>
                                                    <div class="card-body">
                                                        <a href="#" class="card-link">${place['link']}</a>
                                                    </div>
                                                </div>`

                            $('#recommend-box').append(tempHtml);
                        }
                    }
                }
            });
        }

        function find_place() {
            let where = $('#getPlace').val();
            let what = $('#searchCategory').val();

            if (where == '') {
                alert('어디로 가고 싶으세요?');
                return;
            }
            if (what == "default") {
                alert('무엇을 하고 싶나요?');
                return;
            }
            location.href = `/showPlace?where=${where}&what=${what}`



        }
    </script>

</head>

<body>
<div class="center">
    <div id="menuBar">
        <h1 id="title">어디서 뭐하지?</h1>
    </div>

    <div id="search">
        <div class="mb-3" id="searchPlace">
            <input type="text" class="form-control" id="getPlace" placeholder="어디서 놀고 싶나요?">
        </div>
        <select class="form-select" aria-label="Default select example" id="searchCategory">
            <option selected value="default">무엇을 하고 싶나요?</option>
            <option value="맛집">맛집</option>
            <option value="카페/디저트">카페/디저트</option>
            <option value="술집">술집</option>
            <option value="전시회">전시회</option>
            <option value="이색 체험">이색 체험</option>
        </select>

        <button class="btn btn-primary" type="submit" id="searchButton" onclick="find_place()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            검색
        </button>
    </div>

    <div id="recommend">
        <h3 class="boldText">요즘 뜨는 장소</h3>

        <div class="container" id="recommend-box">

            <div class="card2">
                <img class="card-img-top" src="...">
                <div class="card-body">
                    <h5 class="card-title">장소 이름</h5>
                    <p class="card-text">간단한 설명</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">주소</li>
                    <li class="list-group-item">전화번호</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">link</a>
                </div>
            </div>
            <div class="card2">
                <img class="card-img-top" src="...">
                <div class="card-body">
                    <h5 class="card-title">장소 이름</h5>
                    <p class="card-text">간단한 설명</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">주소</li>
                    <li class="list-group-item">전화번호</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">link</a>
                </div>
            </div>
            <div class="card2">
                <img class="card-img-top" src="...">
                <div class="card-body">
                    <h5 class="card-title">장소 이름</h5>
                    <p class="card-text">간단한 설명</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">주소</li>
                    <li class="list-group-item">전화번호</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">link</a>
                </div>
            </div>
            <div class="card2">
                <img class="card-img-top" src="...">
                <div class="card-body">
                    <h5 class="card-title">장소 이름</h5>
                    <p class="card-text">간단한 설명</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">주소</li>
                    <li class="list-group-item">전화번호</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">link</a>
                </div>
            </div>
            <div class="card2">
                <img class="card-img-top" src="...">
                <div class="card-body">
                    <h5 class="card-title">장소 이름</h5>
                    <p class="card-text">간단한 설명</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">주소</li>
                    <li class="list-group-item">전화번호</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">link</a>
                </div>
            </div>


        </div>


    </div>

    <h1>

    </h1>
</div>
</body>

</html>