<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=6jspm8wa5r"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID&submodules=panorama"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Noto+Sans+KR&display=swap"
          rel="stylesheet">


    <title>어디서 뭐하지?</title>

    <style>
        * {
            font-family: 'Dongle', sans-serif;
            font-family: 'Noto Sans KR', sans-serif;
        }

        #title {
            padding: 10px;
            font-family: 'Dongle', sans-serif;
        }

        .infoText {
            display: inline-block;
            border: 1px solid lightgray;
            width: 200px;
            text-align: center;
            padding: 3px;
        }

        #searchIcon {
            display: inline-block;
            margin: 10px;
        }

        #info {
            display: flex;
            justify-content: center;
            padding: 25px 25px 25px 25px;
            border-bottom: 1px solid lightgray;
        }

        #showInfo {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        #showList {
            border-right: 1px solid lightgray;
        }

        #guCategory {
            padding: 15px;
        }

        .boldText {
            font-weight: bold;
        }

        #title-button {
            border: 0;
            outline: 0;
            background-color: white;
        }


    </style>

    <script>
        $(document).ready(function () {
            showPlace();
        });

        function goMain() {
            location.href = `/`
        }

        function showPlace() {
            $('#showPlace').empty();
            $.ajax({
                type: "GET",
                url: "/api/showPlace",
                data: {keyword: '{{where}}' + ' {{what}}'},
                success: function (response) {
                    if (response['result'] === 'success') {
                        let place_list = response['place_list'];


                        for (let i = 0; i < place_list.length; i++) {
                            const place = place_list[i];
                            const tempHtml = `<div class="card mb-3" style="max-width: 750px;">
                                                    <div class="row g-0">
<!--                                                        <div class="col-md-4">-->
<!--                                                            <img src="..." class="img-fluid rounded-start" alt="...">-->
<!--                                                        </div>-->
                                                        <div class="col-md-8">
                                                            <div class="card-body">
                                                                <h5 class="card-title">${place['title']}</h5>
                                                                <p class="card-text">${place['category']}</p>
                                                                <p class="card-text">${place['roadAddress']}</p>
                                                                <p class="card-text"><small class="text-muted">이것저것 정보들</small></p>
                                                                <a href="#" class="card-link">${place['link']}</a>
                                                                <button>버튼</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>`

                            $('#showPlace').append(tempHtml);
                        }

                        let place = place_list[0];
                        console.log(place)
                        var tm128 = new naver.maps.Point(place.mapx,place.mapy);
                        var latLang = naver.maps.TransCoord.fromTM128ToLatLng(tm128)
                        console.log(latLang)
                        let place_geo = naver.maps.fromCoordToLatLng(place['mapx'], place['mapy'])


                        var mapOptions = {
                            center: new naver.maps.LatLng(place_geo['lat'], place_geo['lng']),
                            zoom: 10
                        };

                        var map = new naver.maps.Map('map', mapOptions);

                    }
                }
            });
        }


    </script>

</head>

<body>

<div class="center">
    <div id="menuBar">
        <button id="title-button" onclick="goMain()"><h1 id="title">어디서 뭐하지?</h1></button>
        <div id="info">
            <div id="place" class="infoText">
                {{where}}
            </div>
            <div id="category" class="infoText">
                {{what}}
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16" id="searchIcon">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </div>
    </div>
    <div id="showInfo">
        <div id="showList">
            <div id="guCategory" class="boldText">{{where}}의 {{what}}</div>

            <div id="showPlace">

                <div class="card mb-3" style="max-width: 750px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">장소 이름</h5>
                                <p class="card-text">간단한 소개</p>
                                <p class="card-text">주소</p>
                                <p class="card-text"><small class="text-muted">이것저것 정보들</small></p>
                                <a href="#" class="card-link">link</a>
                                <button>버튼</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 750px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">장소 이름</h5>
                                <p class="card-text">간단한 소개</p>
                                <p class="card-text">주소</p>
                                <p class="card-text"><small class="text-muted">이것저것 정보들</small></p>
                                <a href="#" class="card-link">link</a>
                                <button>버튼</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 750px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">장소 이름</h5>
                                <p class="card-text">간단한 소개</p>
                                <p class="card-text">주소</p>
                                <p class="card-text"><small class="text-muted">이것저것 정보들</small></p>
                                <a href="#" class="card-link">link</a>
                                <button>버튼</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 750px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">장소 이름</h5>
                                <p class="card-text">간단한 소개</p>
                                <p class="card-text">주소</p>
                                <p class="card-text"><small class="text-muted">이것저것 정보들</small></p>
                                <a href="#" class="card-link">link</a>
                                <button>버튼</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 750px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">장소 이름</h5>
                                <p class="card-text">간단한 소개</p>
                                <p class="card-text">주소</p>
                                <p class="card-text"><small class="text-muted">이것저것 정보들</small></p>
                                <a href="#" class="card-link">link</a>
                                <button>버튼</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div id="showMap">
            지도가 나타납니다.
            <div id="map" style="width:100%;height:400px;"></div>

            <div class="matjip-list" id="matjip-box">
            </div>
        </div>
    </div>


</div>

<!--<script>-->
<!--    var mapOptions = {-->
<!--        center: new naver.maps.LatLng(37.3595704, 127.105399),-->
<!--        zoom: 10-->
<!--    };-->

<!--    var map = new naver.maps.Map('map', mapOptions);-->
<!--</script>-->
</body>

</html>